$mainFontFamily:  'Ploni';

$minwidth: 320px;
$mq-sm: 640px;
$mq-md: 768px;
$mq-lg: 1024px;
$mq-xl: 1280px;
$mq-xxl: 1536px;
$mouse-device: "(hover: hover) and (pointer: fine)";
$touch-device: "(hover: none) and (pointer: coarse)";



