// === Ploni
@font-face {
    font-family: "Ploni";
    font-display: swap;
    src: url("../fonts/ploni-bold-aaa.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Ploni";
    font-display: swap;
    src: url("../fonts/ploni-demibold-aaa.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Ploni";
    font-display: swap;
    src: url("../fonts/ploni-light-aaa.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Ploni";
    font-display: swap;
    src: url("../fonts/ploni-regular-aaa.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}