<div class="stories-carousel" data-slider="stories-carousel" >
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "X66c7utRUm",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/2592777a-b737-452a-e9d7-92fc00f25a00/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "./public/images/preview_X66c7utRUm_blur.jpg",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>',
                        '<div class="stories-card__stories-item" data-story-type="video" data-story-duration="6" data-video-type="video/mp4" data-url="./public/videos/video.mp4"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "wBbQd4u69Y",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/7dc0a9b4-96be-4368-ea8c-b8bc4de5d700/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/18db2900-8e77-4425-69fa-70f0c9a89400/public",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/18db2900-8e77-4425-69fa-70f0c9a89400/public"></div>',
                        '<div class="stories-card__stories-item" data-story-type="video" data-story-duration="6" data-video-type="video/mp4" data-url="https://front.prpl.global/Altman/youtebeShorts.mp4"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/def29928-1faa-4d3a-e46f-f7d2ce40c600/public"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/fa2c3e49-e6d4-40d4-696f-7b72fa9a2300/public"></div>',
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "TnUzuPCcuO",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/31813064-5128-4686-6054-489e2ab46b00/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/def29928-1faa-4d3a-e46f-f7d2ce40c600/public",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/def29928-1faa-4d3a-e46f-f7d2ce40c600/public"></div>',
                        '<div class="stories-card__stories-item" data-story-type="video" data-story-duration="6" data-video-type="video/mp4" data-url="https://front.prpl.global/Altman/youtebeShorts.mp4"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "WEaFhZBnFW",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/9530a501-6139-4ad1-131d-34e5dcb44100/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/dea8a6b2-a143-4ab1-989e-06e604778b00/public",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/dea8a6b2-a143-4ab1-989e-06e604778b00/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "3nEBubw6YA",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/36b81961-6670-4c41-8d63-7e4e41574400/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/250b460c-0fca-4c9e-e8ad-d86392686400/public",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/250b460c-0fca-4c9e-e8ad-d86392686400/public"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "SOx8MGnZEu",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/1e08259f-64ff-4935-cda2-2744fb990000/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/c41d89b6-384e-4429-57df-831ccf120900/public",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/c41d89b6-384e-4429-57df-831ccf120900/public"></div>',
                        '<div class="stories-card__stories-item" data-story-type="video" data-story-duration="6" data-video-type="video/mp4" data-url="https://front.prpl.global/Altman/youtebeShorts.mp4"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "f6OWf1ZyyC",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/4e1143da-71a7-4c4e-2d89-50b695b76500/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/e53277ac-4f27-4b60-312e-1ab855d2f100/public",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/e53277ac-4f27-4b60-312e-1ab855d2f100/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "OfygaAvNRW",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/750e44bd-7e21-49f2-0a6d-9c5d8567b300/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/1e0de1d8-7f12-4ece-9dd3-77e6ff508f00/public",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/1e0de1d8-7f12-4ece-9dd3-77e6ff508f00/public"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "Bu0WL8bCRL",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/8aa0e4c0-4422-41d9-7d6e-db4c4cf97500/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/fa2c3e49-e6d4-40d4-696f-7b72fa9a2300/public",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/fa2c3e49-e6d4-40d4-696f-7b72fa9a2300/public"></div>',
                        '<div class="stories-card__stories-item" data-story-type="video" data-story-duration="6" data-video-type="video/mp4" data-url="https://front.prpl.global/Altman/youtebeShorts.mp4"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "qrVYqx3P41",
                    "logoUrl": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/26898fa1-9dc5-4d41-9a35-7424cd3be500/public",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/a4537486-24ca-4c65-497a-1ebdd1263a00/public",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/a4537486-24ca-4c65-497a-1ebdd1263a00/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "PYt89lMI0x",
                    "logoUrl": "https://images.unsplash.com/photo-1599305445671-ac291c95aaa9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://images.unsplash.com/photo-1599305445671-ac291c95aaa9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://images.unsplash.com/photo-1599305445671-ac291c95aaa9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bG9nb3N8ZW58MHx8MHx8fDA%3D"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "NBld71RUPK",
                    "logoUrl": "https://images.unsplash.com/photo-1601158935942-52255782d322?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://images.unsplash.com/photo-1601158935942-52255782d322?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "stories": [
                    '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://images.unsplash.com/photo-1601158935942-52255782d322?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bG9nb3N8ZW58MHx8MHx8fDA%3D"></div>',
                    '<div class="stories-card__stories-item" data-story-type="video" data-story-duration="6" data-video-type="video/mp4" data-url="https://front.prpl.global/Altman/youtebeShorts.mp4"></div>',
                    '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "xVQHekokWH",
                    "logoUrl": "https://images.unsplash.com/photo-1635756837851-d3b6edbaa11c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://images.unsplash.com/photo-1635756837851-d3b6edbaa11c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://images.unsplash.com/photo-1635756837851-d3b6edbaa11c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bG9nb3N8ZW58MHx8MHx8fDA%3D"></div>',
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "tLn0hTw8bz",
                    "logoUrl": "https://images.unsplash.com/photo-1633409361618-c73427e4e206?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://images.unsplash.com/photo-1633409361618-c73427e4e206?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://images.unsplash.com/photo-1633409361618-c73427e4e206?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bG9nb3N8ZW58MHx8MHx8fDA%3D"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "V5Nl9r1DdV",
                    "logoUrl": "https://plus.unsplash.com/premium_photo-1661914978519-52a11fe159a7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://plus.unsplash.com/premium_photo-1661914978519-52a11fe159a7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://plus.unsplash.com/premium_photo-1661914978519-52a11fe159a7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bG9nb3N8ZW58MHx8MHx8fDA%3D"></div>',
                        '<div class="stories-card__stories-item" data-story-type="video" data-story-duration="6" data-video-type="video/mp4" data-url="https://front.prpl.global/Altman/youtebeShorts.mp4"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "HyWLwtehws",
                    "logoUrl": "https://images.unsplash.com/photo-1617566347924-ad5ebdaa014e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxvZ29zfGVufDB8fDB8fHww",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://images.unsplash.com/photo-1585184394271-4c0a47dc59c9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bG9nb3N8ZW58MHx8MHx8fDA%3D",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://images.unsplash.com/photo-1585184394271-4c0a47dc59c9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bG9nb3N8ZW58MHx8MHx8fDA%3D"></div>',
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "X4lJdKJX9i",
                    "logoUrl": "https://images.unsplash.com/photo-1602934445884-da0fa1c9d3b3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGxvZ29zfGVufDB8fDB8fHww",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://images.unsplash.com/photo-1617566347924-ad5ebdaa014e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxvZ29zfGVufDB8fDB8fHww",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://images.unsplash.com/photo-1617566347924-ad5ebdaa014e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxvZ29zfGVufDB8fDB8fHww"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
            <div class="swiper-slide">
                @@include('../stories-card/_stories-card.html', {
                    "id": "nHfVeDgzC2",
                    "logoUrl": "https://images.unsplash.com/photo-1553835973-dec43bfddbeb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGxvZ29zfGVufDB8fDB8fHww",
                    "companyTitle": "דור אלון",
                    "storyPreview": "https://images.unsplash.com/photo-1563694983011-6f4d90358083?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxvZ29zfGVufDB8fDB8fHww",
                    "stories": [
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://images.unsplash.com/photo-1563694983011-6f4d90358083?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxvZ29zfGVufDB8fDB8fHww"></div>',
                        '<div class="stories-card__stories-item" data-story-type="video" data-story-duration="6" data-video-type="video/mp4" data-url="https://front.prpl.global/Altman/youtebeShorts.mp4"></div>',
                        '<div class="stories-card__stories-item" data-story-type="image" data-story-duration="6" data-url="https://imagedelivery.net/UJIJkNKUWII1SgPhNql61w/19949849-53e7-456d-348d-343c7acc3700/public"></div>'
                    ]
                })
            </div>
        </div>
    </div>

    <button type="button" class="btn-left slider-btn hidden stories-end">
        <img src="data:image/svg+xml,%3csvg%20width='48'%20height='48'%20viewBox='0%200%2048%2048'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3ccircle%20cx='24'%20cy='24'%20r='14'%20transform='rotate(-180%2024%2024)'%20fill='%232233EE'/%3e%3cpath%20d='M26%2030L20%2024L26%2018'%20stroke='%23FBFBFC'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e"
            alt="green-arrow-left">
    </button>
    <button type="button" class="btn-right slider-btn hidden stories-start">
        <img src="data:image/svg+xml,%3csvg%20width='48'%20height='48'%20viewBox='0%200%2048%2048'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3ccircle%20cx='24'%20cy='24'%20r='14'%20fill='%232233EE'/%3e%3cpath%20d='M22%2018L28%2024L22%2030'%20stroke='%23FBFBFC'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e"
            alt="green-arrow-right">
    </button>
</div>