.stories-carousel {
    @media (min-width: 920px) {
        font-size: 1.2195dvh;
        padding: 30px 0;
        height: 100dvh;
        width: 42.6em;
        margin: 0 auto;
        position: relative;

        & .swiper {
            height: 100%;
            overflow: visible;

            & .swiper-slide {
                height: 100%;
                transition: scale 0.3s ease;
                scale: 1.001;
                animation: fadeIn 0.4s ease forwards;

                &:not(.swiper-slide-active) {
                    scale: (0.5);

                    & .stories-card {
                        cursor: pointer;
                        transition: scale 0.3s ease;

                        @media #{$mouse-device} {
                            &:hover {
                                scale: 1.02;
                            }
                        }
                    }
                }
            }
        }

        & .slider-btn {
            border-radius: 999px;
            transition: background-color 0.3s ease;

            @media #{$mouse-device} {
                &:hover {
                    background-color: rgba(#fff, 0.1);
                }
            }

            &.btn-right {
                right: -7em;

                &:not(.stories-start) {
                    display: block;
                }
            }
            &.btn-left {
                left: -7em;

                &:not(.stories-end) {
                    display: block;
                }
            }
        }

        & img, & video {
            pointer-events: none;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none;  /* Chrome/Safari/Opera */
            -khtml-user-select: none;   /* Konqueror */
            -moz-user-select: none;     /* Firefox */
            -ms-user-select: none;      /* Internet Explorer/Edge */
            user-select: none;  
        }
    }
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 919.98px) {
    .stories-carousel {
        font-size: 10px;
        height: 100dvh;
        width: 100%;
        position: relative;
        overflow: hidden;

        & > .swiper {
            height: 100%;
            overflow: visible;

            & > .swiper-wrapper {

                & > .swiper-slide {
                    height: 100%;

                    &:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next) {
                        opacity: 0;
                    }

                    // &:not(.swiper-slide-active) {
                    //     & .stories-card__description {
                    //         opacity: 0;
                    //         pointer-events: none;
                    //     }
                    // }
                }
            }


        }

        & .slider-btn {
            display: none !important;
        }
    }
}


.stories-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    z-index: 102;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    outline: none;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    pointer-events: none;

    &:not(.stories-popup--open) {
        & .swiper .swiper-slide {
            visibility: hidden;
            pointer-events: none;

            & .stories-card__preview {
                pointer-events: none;
            }
        }
    }

    &--open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        & .stories-popup__content {
            opacity: 1;
        }
    }

    &__close {
        position: absolute;
        top: 30px;
        left: 30px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 999px;
        transition: background-color .15s ease;
        cursor: pointer;

        @media #{$mouse-device} {
            &:hover {
                background-color: rgba(#fff, 0.1);
            }
        }

        & img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }

        @media (max-width: 919.98px) {
            display: none;
        }
    }

    &__inner {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        opacity: 0;
        transition: opacity 0.4s ease;
        width: 100%;
    }
}

.overflow-hidden {
    overflow: hidden;
}
